# Dependencies
node_modules
npm-debug.log*

# Git
.git
.gitignore
.gitattributes

# IDE
.vscode
.idea

# Build output
built

# Documentation
*.md
LICENSE.txt
THIRD-PARTY-NOTICES.txt

# CI/CD
.github

# Misc
.DS_Store
