name: Build Makecode Prd

on:
  push:
    branches: [main]

jobs:

  build:
    uses: team-monolith-product/tmn-gh-actions/.github/workflows/build_v2.yml@main
    with:
      env: prd
      target: main
      updateTargets: |
        {
          "aws": {
            "imageName": "jce-ecr-pxt-microbit-all-prd",
            "valueFilePath": ["makecode/aws-apne2-prd-service.yaml"]
          },
          "ncp": {
            "registry": "ped-cr-all-prd.ncr.gov-ntruss.com",
            "imageName": "jce-pxt-microbit",
            "valueFilePath": ["makecode/ncloud-prd.yaml"]
          }
        }
    secrets:
      NCP_ACCESS_KEY_ID: ${{ secrets.NCP_ACCESS_KEY_ID }}
      NCP_SECRET_KEY: ${{ secrets.NCP_SECRET_KEY }}
      MACHINE_TOKEN: ${{ secrets.MACHINE_TOKEN }}
